<!--***** HEADER FILE INCLUDES ALL CSS LINKS AND META TAGS ***** -->
<% include partials/header %>

<body class="theme-blue">


<div id="wrapper">

     <!--***** NAVIGATION BAR ***** -->
     <% include partials/navbar %>


     <!--***** SIDE BAR ***** -->
     <% include partials/sidebar %>   

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Jquery Datatable</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Table</li>
                            <li class="breadcrumb-item active">Jquery Datatable</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-lg-12">
                    <form action="/assign-students" method="POST">
                    <div class="card">
                        <div class="header">
                            <h2>Students</h2>                            
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <p> <b>Select Supervisor</b> </p>
                            <select name="supervisorId" class="form-control show-tick ms select2" data-placeholder="Select">
                                <option></option>
                                <% for(let i=0; i<supervisors.length; i++) {%>
                                <option value="<%= supervisors[i]._id%>"><%= supervisors[i].name%></option>
                                <% } %>
                            </select><br />
                            <button type="submit" class="btn btn-success">Assign Students</button>
                        </div>
                        
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="fancy-checkbox">
                                                    <input class="select-all" type="checkbox">
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th>Name</th>
                                            <th>Reg Number</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                        <% for(let i=0; i<students.length; i++) {%>
                                        <tr>
                                            <td style="width: 50px;">
                                                <label class="fancy-checkbox">
                                                    <input class="checkbox-tick" value="<%= students[i]._id%>" type="checkbox" name="studentId">
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td><%= students[i].name%></td>
                                            <td><%= students[i].regNo%></td>
                                            <td><%= students[i].email%></td>
                                            <td><%= students[i].phone%></td>
                                            <td><%- students[i].supervisor ? `<button type="button" class="btn btn-outline-success">Assigned</button>` : `<button type="button" class="btn btn-outline-warning">Unassigned</button>` %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>

        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="/assets/bundles/libscripts.bundle.js"></script>    
<script src="/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/assets/bundles/datatablescripts.bundle.js"></script>
<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>

<script src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 


<script src="/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/js/pages/tables/jquery-datatable.js"></script>
</body>

<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/table-jquery-datatable.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Dec 2019 11:55:05 GMT -->
</html>
